body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #ece9e0;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: grey;
}

.container {
  border-radius: 5px;
  background-color: #f7f6f1;
  padding: 20px;
  width: 0%;
}


body {
    text-align: left;
  }
  
  .wrapper {
    background-color: #f7f6f1;
    display: flex;
    position: relative;
  }
  
  .nested-wrapper1 {
    display: flex;
    width: 40%;
  }
  
  .nested-wrapper2 {
    width: 50%;
  }
  
  .nested-wrapper1>[class='1'] {
    background-color: #f7f6f1;
    padding: 1em;
    flex: 1;
  }
  
  .nested-wrapper2>[class='2'] {
    background-color: #f7f6f1;
    padding: 1em;
  }
  
  .nested-wrapper2>[class='3'] {
    background: lightblue;
    padding: 1em;
  }
  
  @media screen and (max-width: 650px) {
    .nested-wrapper2>[class='2'] {
      height: 100%;
    }
    .nested-wrapper2>[class='3'] {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateY(100%);
    }
  }
