body{
    background-color: #f7f6f1;
    margin: 0;
    padding: 0;
}

.img3{
  width: 100%;
}

/*header med social icon*/
.header1{
    width: 100%;
    height: 34px;
    background-color: #191919;
}


/*slide*/
  .img1 {
    width: 100%;
  }

/*brands*/
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: #ebe8df;
    justify-content: center;
  }
  
  .flex-container > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }



  /*Button*/
  #styled-select {
    width: 190px;
    height: 34px;
    
    overflow: hidden;
    background: #ebe8df;
    border: 1px solid #ccc;
    margin:2% 17%;
    border-radius:6px;
 }
 
 #styled-select select {
    background: #edebdf;
    width: 282px;
    padding: 5px;
    font-size: 15px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    font-family:helvetica-roman;
    color:black;   
 }

/*sko brand*/
.flex-container1{
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  background-color: #f7f6f1;


}

a{
  text-decoration: none;
}
a:hover{
  color: white;
}
a:active{
  color: white;
}

.flex-container1>div{
  max-width: 200px;
  padding: 0 60px 30px;
}

.img{
  width: 100%;
  height: 200px;
}

.left {
  display: block;
  margin-right: auto;
  width: 50%;
  margin: -25px 95px;
}

h2{
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  margin: 30px 0;
  text-align: left;
  text-decoration: none;
}

.pris{
  font-size: 15px;
  margin: -10px 0px;
  float: left;
}


/*butoon add to cart*/
.button{
  border-radius: 12px;
  margin: 10px 0;
}
.button1{
border-radius: 4px;
}


/*Formular*/
section{
  background-color: black;
  width: 100%;
  height: 100%;
}


.emailSignup {
	display: block;
  background: #252c36;
  width: 100%;
  margin: 0 0px 0px;
  position: relative;
  box-sizing: border-box;
  padding: 0 0px;
  text-align: center;
}
.emailSignup h2 {
	font-size: 32px;
	margin: 0 0 10px;
	color: #FFFFFF;
}
.emailSignup p {
	font-size: 20px;
	margin: 0 0 30px;
	color: #D3D3D3;
}
.emailSignup form {
  text-align:right;
  margin-top: -5%;
}
.emailSignup--email-input {
	border: 0;
	outline: 0;
	width: 20%;
	height: 46px;
	line-height: 46px;
	padding: 5px 20px;
	box-sizing: border-box;
	font-size: 18px;
  border-radius: 3px;
  background-color: #edeae1;
}
.emailSignup--email-submit {
	border: 0;
	width: 12%;
	height: 45px;
	line-height: 44px;
	font-size: 22px;
	font-weight: bold;
	background: #ebe8df;
	color: black;
	font-family: "ProximaNova";
	border-radius: 3px;
	text-transform: uppercase;
  text-shadow: 0 0 1px #ebe8df;
  text-align: left;
}



.footer{
  background-color: #191919;
  padding: 0;
  margin: 0;
}



.section1{
  background-color: black;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: white;
  margin-right: 400px;
  font-size: 20px;
  margin: 0 70%;
  background-color: black;
  height: 100%;
  
}

td, th {
  border: none;
  text-align: left;
  padding: 8px;
  
}

/*tr:nth-child(even) {
  background-color: red;
}*/

footer{
  width: 100%;
}



  /*mobil*/
  @media screen and (max-width: 700px){

    .img3{
  width: 100%;
}
.flex-container{
    display: flex;
  flex-direction: column;
  align-items: center;
}
#styled-select {
  width: 190px;
  height: 34px;
  overflow: hidden;
  background: #ebe8df;
  border: 1px solid #ccc;
  margin:0 30%;
  border-radius:6px;
}



.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width:40%;
    color:red;
}
input[type=submit]:hover {
    background-color: #45a049;
}

input[type=text], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.submit-color{
    background-color:limegreen;
}


.emailSignup--email-input{
  font-size: 14px;
  width: 100%;
}

.emailSignup form {
  text-align:center;
  margin-top: 0%;
}

.emailSignup--email-submit {
  width: 60%;
  justify-content: center;
}

table {
  width: 10%;
  margin:auto;;
  font-size: 2px;
  margin: 0 3%;
  
}
td, th {
  border: none;
  text-align: left;
  padding: 8px;
  margin:500px;
  
}
section{
  width: 100%;
  margin: 0 -110px;
}
}

  /*Ipad*/
  @media screen and (min-width: 701px) and (max-width:900px){

    .grid-image{
      flex-basis: 33.333rem;
    }

    .emailSignup--email-input{
      font-size: 14px;
      width: 50%;
    }
    
    .emailSignup form {
      text-align:center;
      margin-top: 0%;
    }
    
    .emailSignup--email-submit {
      width: 20%;
      justify-content: center;
    }

    .emailSignup {
      display: block;
      background: #252c36;
      width: 100%;
      margin: auto;
      position: relative;
      box-sizing: border-box;
      padding: 20px;
      text-align: center;
    }
}

    
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30%;
  color: white;
  margin-right: 400px;
  font-size: 20px;
  margin: 0 45%;
  background-color: black;
  height: 100%;
  
}
    


